*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.headerCont{
    background-color: #4EA0FF;
    height: 120px;
}

.headerPattern{
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    height: 120px;
    width: auto;
    margin-top: 0;
}

#logo {
    height: 60px;
    width: auto;
    margin-top: 65px;
    padding: 10px;
}
.topInformation h1{
    font-size: 60px;
    margin-top: 10px;
    margin-left: 10px;
}

.info{
    color: #7C7C7C;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}

.author{
    color: #66C3ED;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}

.date{
    color: #7C7C7C;
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
}

.photoInfo{
    margin-top: 20px;
}

.photoSection{
    margin-left: 10px;
    height: 580px;
    width: auto;
}

.imgSize{
    height: 100%;
    width: auto;
}

.photoDesc{
    margin-left: 10px;
}

.news p{
    margin-top: 30px;
    margin-left: 10px;
    font-size: 20px;
}

mark {
    background-color: #FFFF00;
    color: #000;
  }

  .unorderedList{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 20px;
  }